.capital_one_credit_card-image {
	background-image: url("../images/capital_one_credit_card-image.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

.multi_story_modules-info_container.cleanup {
	background-image: url("../images/multi_story_modules-tile-image_1.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

.multi_story_modules-info_container.xmas_deco {
	background-image: url("../images/multi_story_modules-tile-image_2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

.multi_story_modules-info_container.organic_boost {
	background-image: url("../images/multi_story_modules-tile-image_3.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}